.topBar-wrapper{
    padding: 0px 8px;
    .nav-wrapper{
        padding-bottom: 4px;
        .nav-item{
            color: #9a9a99;
            &:first-child{
                margin-left: 1em;
            }
            &:not(:last-child){
                margin-right: 1.5em;
            }
            &.active{
                color: #141318;
                font-size:1.3em;
                font-weight: bolder;
            }
        }
    }
    
}