.topBar-wrapper{
    padding: 0px 8px;
    border-bottom:1px rgb(182, 182, 182) solid;
    box-shadow: 0px 1px 3px rgb(207, 207, 207);
    .nav-wrapper{
        padding-bottom: 4px;
        .nav-item{
            color: #9a9a99;
            &:first-child{
                margin-left: 1em;
            }
            &:not(:last-child){
                margin-right: 1.5em;
            }
            &.active{
                color: #141318;
                font-size:1.3em;
                font-weight: bolder;
            }
        }
    }
    
}