.flex{
    display: flex;
}

.flex-ac{
    display: flex;
    align-items: center;
}

.flex-cl{
    display: flex;
    flex-direction:column;
}

.flex-acjc{
    display: flex;
    align-items: center;
}